body{
    background-image: url(../images/sunset-1373171_1920.jpg);
    background-repeat: no-repeat;
}

h1{
    font-size: 60px;
    color: #fff;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.menuName{
    display: flex;
    justify-content:flex-end;
}
a {
    color: yellow;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a:hover{
    color: #fff;
    background-color: maroon;
}
* {
    box-sizing: border-box;
  }
  .jojo{
      display: flex;
      justify-content: center;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 30%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  footer{
      background-color: tomato;
      font-size: 1.3rem;
      text-align: center;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      height: 60px;
      margin-top: 210px;
  }
